# {{ ansible_managed }}
{{ shhirose_chrony_logdir | default('/var/log/chrony') }}/*.log {
  {% if shhirose_chrony_logrotate_missingok | default(True) -%}
  missingok
  {% endif -%}
  {% if shhirose_chrony_logrotate_nocreate | default(True) -%}
  nocreate
  {% endif -%}
  {% if shhirose_chrony_logrotate_sharedscripts is defined -%}
  sharedscripts
    {{ shhirose_chrony_logrotate_sharedscripts }}
  endscript
  {% else -%}
  sharedscripts
    postrotate
      /usr/libexec/chrony-helper command cyclelogs > /dev/null 2>&1 || true
  endscript
  {% endif -%}
  {% if shhirose_chrony_logrotate_extra_params is defined -%}
  {% for item in shhirose_chrony_logrotate_extra_params | default([]) -%}
  {{ item }}
  {% endfor -%}
  {% endif -%}
}
